.container, .title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
}

.title{
    padding-bottom: 10px;
    font-size: 25px;
}